.ItemListInput_item{
    margin: 40px 0 0 29px;
}
.ItemListInput_text{
    font-size: 30px;
    font-weight: bold;
}
.ItemListInput_input{
    min-width: 700px;
    min-height: 70px;
}
.ItemListInput_button{
    padding: 10px 20px 9px 20px;
    font-size: 15px;
    font-weight: 600;
    background-color: rgb(19, 134, 35);
    color: azure;
    border-radius: 7px;
    margin-left: 50px;
    border-color:rgb(19, 134, 35);
    margin: 18px 0px 0px 626px;
}
.ItemListInput_button:hover{
    background-color: azure;
    color: black; 
    border-radius: 7px;
}