.BestFriends_box {
    display: flex;
    justify-content: space-around;
    width: 180px;
    margin: 70px 0 0 0;
}

.BestFriends_inner {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: rgb(230, 237, 13);
    position: relative;
}

.Messages_name{
    color: black;
    font-size: 17px;
    font-weight: 400;
    line-height: 15px;
    text-decoration: none;
    position: absolute;
    top: 57px;
    left: 2px;
}