.item_list{
    width: 950px;
    background-color: white;
    display: flex;
}
.item_list_img{
    width: 150px;
    height: 150px;
    border-radius: 5%;
    padding: 52px 0 0 29px;

}
.ItemListInput_item{
    margin: 40px 0 0 29px;
}
.ItemListInput_text{
    font-size: 30px;
    font-weight: bold;
}
.ItemListInput_input{
    min-width: 700px;
    min-height: 70px;
}
.ItemListInput_button{
    padding: 10px 20px 9px 20px;
    font-size: 15px;
    font-weight: 600;
    background-color: rgb(19, 134, 35);
    color: azure;
    border-radius: 7px;
    margin-left: 50px;
    border-color:rgb(19, 134, 35);
    margin: 18px 0px 0px 626px;
}
.ItemListInput_button:hover{
    background-color: azure;
    color: black; 
    border-radius: 7px;
}
.userPhoto{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}
.userPhoto input{
    margin-top: 40px;
}
.userPhoto img{
    max-width: 200px;
}